@use './colors.scss' as *;

/* MIXINS */


@mixin globalButtonStyle {
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        background-color: var(--background-color);
        color: var(--text-color);
        outline:1px solid var(--text-color);
    }

}

@mixin globalTransition{
    transition: .2s ease-in-out;
}