.unlinked-devices{
 width:100%;
 height: 100%;

    .unlinked-devices-container{

        display:flex;
        align-items: center;
      justify-content: space-between;
        gap:1rem;
        flex-wrap: wrap;
    }
}